@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SignUpPage {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUpPage .logo img {
  width: 100px;
}

.SignUpPage .signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUpPage .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUpPage h1 {
  text-align: center;
  font-family: "Palette Mosaic";
}

.SignUpPage h2 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
}

h3.desc {
  text-align: center;
  font-family: "Montserrat";
  font-style: italic;
  font-size: 15px;
}

img.logo {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.signup .user-info {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.signup .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.signup .box .infoBox {
  height: 50px;
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup .box .infoName {
  width: 40%;
  font-family: "Montserrat";
  font-size: 16px;
}

.signup .buttons {
  margin-top: 5px;
  width: 70%;
  height: 50px;
  border: 1px solid;
  background: #a34bfc;
  color: #ffffff;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}