@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");

.navheader {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Montserrat";
}

.navheader .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.navheader .navbar .logo img {
  width: 100px;
}

.navheader .nav-menu {
  display: flex;
}

.navheader .nav-item {
  padding: 1rem;
  font-weight: 500;
  font-size: 20px;
}

.navheader a {
  text-decoration: none;
  color: white;
  background-color: none;
}

.navheader button {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navheader button:hover {
  margin-bottom: -3px;
  border-bottom: 3px solid white;
}

.navheader ul {
  list-style-type: none;
}

.navheader .nav-item a:hover {
  padding-bottom: 12 px;
  border-bottom: 3px solid white;
  cursor: pointer;
}

.navheader a:active {
  background-color: none;
}