@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
 
.box {
 display: flex;
 align-items: center;
}
 
.MeasurementPage {
 margin-top: 8%;
 align-items: center;
}
 
.MeasurementPage .logo img {
 margin-top: 2%;
 width: 100px;
 margin-left: 47.5%;
}
 
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 
body.extension {
 width: 400px;
 height: 600px;
 overflow: hidden;
 background: #ffffff;
}
 
.MeasurementPage h1 {
 text-align: center;
 font-family: "Palette Mosaic";
}
 
.MeasurementPage h2 {
 text-align: center;
 font-family: "Montserrat";
 font-size: 22px;
}
 
h3.desc {
 text-align: center;
 font-family: "Montserrat";
 font-style: italic;
 font-size: 15px;
}
img.logo {
 width: 50%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 display: block;
}
 
.MeasurementPage .switch,
.label {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
 
.switch .incm-switch {
 padding-top: 2%;
 padding-bottom: 1%;
 display: flex;
 align-items: center;
 justify-content: center;
}
 
.measurements {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 padding-right: 10%;
}
 
.box .sliderBar {
 height: 40px;
 width: 500px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}
 
.box .sliderBar input {
 height: 7px;
 width: 80%;
 -webkit-appearance: none;
 background: #f2f2f2;
 border-radius: 40px;
 box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
 
.box .sliderBar .value {
 position: relative;
 left: 10px;
 font-size: 16px;
 font-weight: 100;
 text-align: center;
 font-family: "Montserrat";
 font-weight: 600;
}
 
.box .mesName {
 position: relative;
 left: 35%;
 display: inline-block;
 width: 40%;
 font-family: "Montserrat";
 font-size: 16px;
}
 
.MeasurementPage .user-size  {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 5%;
 font-size: 30px;
}
 
.MeasurementPage .buttons {
 display: flex;
 flex-direction: column;
}
 
.MeasurementPage button {
 margin-top: 5px;
 width: 20%;
 height: 50px;
 border: 1px solid;
 background: #a34bfc;
 color: #ffffff;
 border-radius: 25px;
 font-size: 17px;
 font-weight: 600;
 cursor: pointer;
 outline: none;
 position: relative;
 left: 40%;
}
