@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Palette+Mosaic&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 
.header {
  height: 40%;
  background-image: url("purple.webp");
  background-color: #c184ff;
}

.more {
text-align: center;
}

.footer {
  position: absolute;
  width: 100%;
  top:97%;
}

.header-button {
  margin-left: 93.25%;
  font-size: 13px;
}

.footer-button {  
  display: flex;  
  margin-left: 48.5%;
  flex-direction: row;
}

.header-text {
  color: white;
}

.header-text h1 {
  padding-left: 1%;
  font-size: 50px;
  font-family: 'Montserrat';
}

.header-text h2 {
  text-align: center;
  font-size: 35px;
  font-family: 'Palette Mosaic', cursive;
}

.header-text p {
  padding-left: 1.5%;
  padding-top:2.5%;
  width: 25%;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.body-text {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

